
     body{
      background-color: rgb(131, 171, 112);
     }
p {
     color: black;
     font-size: 20px;
     font-family: "IBM Plex Serif", sans-serif;
}

#title {
     font-family: "Snowburst One", system-ui;
     font-size: 70px;
     color: rgb(147, 31, 149);
     font-weight: bold;
}
    
.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.snowburst {
  font-family: "Snowburst One", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
     font-family: "Snowburst One", system-ui;
     font-weight: 400;
     font-style: normal;
     font-size: 50px;
      color: rgb(147, 31, 149);
}


