
     body{
      background-color: rgb(220, 216, 197);
     }
p {
     color: black;
     font-size: 20px;
     font-family: "IBM Plex Serif", sans-serif;
}

#title {
     font-family: "Rubik Vinyl", system-ui;
     color: black;
     font-weight: bold;
     text-align: center;
     font-size: 200px;
}
    
.ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
     font-family: "Rubik Vinyl", system-ui;
     font-weight: 400;
     font-style: normal;
     font-size: 50px;
      color: rgb(147, 31, 149);
}


.rubik-vinyl-regular {
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 400;
  font-style: normal;
}

.logo {
    width: 200px;
    height: auto;
}

.title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 8px 18px;
    border-radius: 20px;
}

nav {
    display: flex;
    gap: 15px;
}


.portfolio-title {
    position: relative;
    margin-top: 100px;
}

.name {
    position: absolute;
    top: 20px;
    left: 158px;
    font-family: "Barriecito", system-ui;
    font-size: 30px;
    white-space: nowrap;
}

.Flower {
    width: 1000px;
    height: auto;
     position: absolute;
    top: 130px;
    left: 170px;
}